<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Sansita:ital,wght@0,400;0,700;0,800;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="/cdn/" />
    <link rel="preconnect" href="/cdn/" crossorigin />
    <link rel="prefetch" href="/cdn/" />
    <link rel="stylesheet" href="/css/lesson.css" />
    <link rel="stylesheet" href="/css/theme.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include('components/navbar') %>
    <div
      class="header"
      style="background: url('') center center / cover no-repeat"
    >
      >
      <div class="thumbnail">
        <!-- <img src="/img/danau.jpeg" alt="Thumbnail Kelas" /> -->

        <img src="<%= data.thumbnail %>" alt="Thumbnail Kelas" />
      </div>
    </div>
    <div class="content">
      <div class="silabus">
        <input type="hidden" id="quiz-url" value="<%= data.quiz %>" />
        <h2>Silabus Kelas</h2>
        <p>Isi silabus kelas akan ditampilkan di sini.</p>
        <iframe src="<%= data.youtubeUrl %>" frameborder="0"></iframe>
        <%- body %>
        <!-- Tambahkan isi detail silabus -->
        <div id="quiz-container"></div>
        <button id="submit-btn">Finish Quiz</button>
        <div id="result"></div>
        <div class="move">
          <button>Sebelumnya</button>
          <button>Selanjutnya</button>
        </div>
      </div>
      <div class="info">
        <h3>Step-step/Materi</h3>
        <ul>
          <ol>
            Materi 1
          </ol>
          <ol>
            Materi 2
          </ol>
          <ol>
            Materi 3
          </ol>
          <!-- Tambahkan list materi -->
        </ul>
        <p><strong>Jumlah Peserta:</strong> 123 orang</p>
      </div>
    </div>
    <%- include('components/footer') %>

    <script src="/js/navbar.js"></script>

    <script src="/js/quiz.js"></script>
    <script>
      window.onload = async () => {
        let url = document.querySelector("input#url").value;
        let main = document.querySelector(".silabus");
        let req = await fetch(url);
        let res = await req.text();
        main.innerHTML = res;
        // let full = res.split("\n");
        // full.forEach((e) => {
        //   main.innerHTML += e;
        // });
      };
    </script>
  </body>
</html>
